/*links*/
a, a:visited{
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

/*text related*/
.page{
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
}

p{
    color: #e3e3e3;
    font-size: 18px;
    margin-top: -7px;
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*banner*/
header{
    background-image: url(images/abstract-black-dark-banner-on-hexagon-mesh-vector-22617481.jpg);
    height: 100px;
    padding: 10px 0px;
    margin: 0px 0px 100px 0px;
}

ul.header{
    display: flex;
    justify-content: space-between;
    width: "device-width";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-align: center;
    margin: 25px 5% 0px 0px;
}

li ul.drop{
    display: none;
    position: absolute;
    background-image: url(images/abstract-black-dark-banner-on-hexagon-mesh-vector-22617481.jpg);

}
ul li:hover ul.drop{
    display:block;
}

ul li ul li a{
    font-size: 20px;
    padding: 30px 0px 5px 0px;
}

li.drop{
    margin: 10px 10% 10px 10px;
    color: white;
    float:left;
    list-style: none;
    position:relative;
}

/*welcome page*/
p.welcome{
    width: 830px;
}

img.welcome{
    width: 300px;
    border: 1px solid black;
}

ul.welcome{
    display: flex;
    list-style: none;
    padding: 0px;
}

/*team page*/
.teammembers {
    position: relative;
    background-image: url(images/11-3px-tile-Free-Dark-Background.jpg);
    padding: 50px 10px;
    width: device-width;
    list-style: none;
    margin: 0px;
}

.member{
    display: flex;
    list-style: none;
    margin: 0px 0px 20px 0px;
}

.name{
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

.portrait{
    width: 220px;
    border: 1px solid black;
}

/*Agenda*/
table.agenda, th, td{
    border: 1px solid black;
    text-align: left;
    background-color: #f1f1c1;
}

/*footer*/
.footer{
    display: flex;
}

.logo a{
    padding: 50px 100px;
    background-size: 210px;
    background-repeat: no-repeat;
    background-image: url(images/logobeekvlietdef.jpg);
    display:inline-block;
    width: 300;
    height:280;
    text-indent: -9999999px;
}